// BEGIN header
header.header
	.header__wrap.fl.fl--align-c.fl--just-bet
		a.logo--header.logo(title="logo" href="#")
			img(src="img/logo.svg" alt="logo")
		.header__menu.fl.fl--align-c.fl--just-bet
			a.header__icon.header__icon--home(href="index.html" title="home")
				img(src="img/home.png" alt="icon home")
			a.header__icon.header__icon--search(href="#" title="search")
				img(src="img/search.png" alt="icon search")
			a.header__icon.header__icon--user(href="login.html" title="user")
				img(src="img/user.png" alt="icon user")
			a.header__icon.header__icon--envelope(href="profile.html" title="notification")
				img(src="img/envelope.png" alt="icon envelope")
			a.header__icon.header__icon--plus(href="#" title="plus")
				img(src="img/plus.png" alt="icon plus")
// END header